@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-overlay {
    top: 2em;
    left: 50%;
    transform: translate(-50%, 0%);
}

h4 {
    color: #e05353 !important;
}

.products {
    display: flex;
    flex-direction: row;
    gap: 25px !important;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center; 
}