@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
  font-family: "Poppins", sans-serif;
}

.carousel-overlay {
  top: 2em;
  left: 50%;
  transform: translate(-50%, 0%);
}

h4 {
  color: #e05353 !important;
}

.products {
  display: flex;
  flex-direction: row;
  gap: 25px !important;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.carousel {
  box-shadow: 0 6px 8px rgb(94, 94, 94);
}

.youtube-thumb {
  box-shadow: 0 0 14px rgb(62, 62, 62);
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  margin: 0;
  text-align: center;
}

.ant-divider {
  border-color: rgb(155, 155, 155);
  padding: "0 2rem";
}

#welcome-to {
  padding: 0;
  margin-bottom: 0;
  font-family: "Dancing Script", cursive;
}

#brewhaus {
  padding: 0;
  margin-top: 0;
}

/* Centers "Kroger Community Rewards", "Find Out More!"
   buttons on home.tsx */
.p-5 a,
.p-5 {
  display: flex;
  justify-content: center;
}

#logo:hover {
  cursor: pointer;
}

.ant-layout-footer {
  display: flex;
  justify-content: center;
}

.footer-container {
  line-height: 1.4rem;
  max-width: 420px;
}

.ant-card-actions {
  align-items: center;
  text-align: center;
}

.ant-form-item-label {
  margin-right: 5px !important;
}


/*//////  testimonials.tsx   //////*/


.ant-collapse-item:first-child {
  background-color: #001529a6;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.ant-collapse-item:nth-child(n+2) {
  background-color: #001529a6;
}  

.ant-collapse-header-text {
  font-weight: 600;
  font-size: 1rem;
  color: whitesmoke;
}

.ant-collapse-content-box {
  background-color: whitesmoke;
  font-size: 0.9rem; 
}

.ant-collapse-expand-icon {
  color: whitesmoke;
}
